<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StockOnline.Properties.Settings.DBPSConnectionString"
            connectionString="Data Source=10.104.1.9;Initial Catalog=DBPS;Persist Security Info=True;User ID=sa; Password=sugarPS2"
            providerName="System.Data.SqlClient" />
      <add name="PSConnection" connectionString="Data Source=10.104.1.9;Initial Catalog=DBPS;Persist Security Info=True;User ID=sa;Password=sugarPS2;" />
      <add name="PS_LogConnection" connectionString="Data Source=10.104.1.9;Initial Catalog=DBPS_LOG;Persist Security Info=True;User ID=sa;Password=sugarPS2;" />
      <add name="PS_DB.mdb" connectionString="xpoprovider=MSAccess;provider=Microsoft.Jet.OLEDB.4.0;data Source=C:\DataFile\PS_DB.mdb;persist security info=True" />
      <add name="PSAccess" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\DataFile\PS_DB.mdb;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>